.App {
  text-align: center;
}

h1 {
  color: #61dafb;
}

#result-button {
  background-color: #61dafb;
  color: brown;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}